body {
  background: #264eff;
  color: #d9bc00;
}

#container {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

.answer {
  background: black;
  color: black;
  border: none;
  margin: 20px;
  padding: 20px;
}

.answer:focus {
  background: blue;
  color: white;
  transform: scale(1.35);
  transition: ease in;
}

.points {
  width: 100%;
  border: black 2px solid;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.question {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #d9bc00;
  padding: 50px;
}

.btn {
  border: black 2px solid;
  background: none;
  font-size: 24px;
  font-weight: bold;
  color: #d9bc00;
  width: 200px;
  height: 60px;
}

.btn#home {
	position: absolute;
	right: 25px;
}

.btn#wrong {
	margin-right: 25px;
}

.btn#correct {
	margin-left: 25px;
}

.btn:hover {
  background: #3b9dff;
  transform: scale(1.2);
}

h2 {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% 	 {transform: scale(0.85);}
	50%  {transform: scale(1);}
	100% {transform: scale(0.85);}
}
	
