body {
  background: blue;
  color: yellow;
}

#container {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

.answer {
  background: black;
  color: black;
  border: none;
  margin: 50px;
  padding: 50px;
}

.answer:focus {
  background: white;
}

.points {
  width: 100%;
  border: black 2px solid;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.question {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: yellow;
  padding: 50px;
}

.btn {
  border: black 2px solid;
  background: none;
  font-size: 24px;
  font-weight: bold;
  color: yellow;
  width: 200px;
  height: 60px;
}

.btn:hover,
.btn:focus {
  background: #0053ba;
}
